/* ===== Fonts ===== */
@import url('https://fonts.googleapis.com/css?family=Assistant:200,400,700|Cormorant+Garamond:400,400i,700');
/* ===== http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) ===== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {position: relative;padding:0;width: 100%;max-width: 100%;margin:0 auto;top: 0;}
ol, ul{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: '';content: none;}
table{border-collapse: collapse;border-spacing: 0;}
/* ===== Main ===== */
body{font-family:'Cormorant Garamond',serif;font-size:16px;line-height: 150%;color:#555;width:100vw;}
h1{font-size:50px;color:#222;font-weight: 700;margin:20px 0;line-height: 100%;}
h2{font-size:24px;line-height: 120%;color:#222;font-weight: 700;}
h3{font-size:26px;color:#222;line-height: 100%;font-weight: 200;font-family: 'Assistant', sans-serif;}
a{text-decoration:none;color:#5F89FF;transition:ease-in-out .3s;border-bottom: 1px solid rgba(95, 137, 255, .7);}
a:hover{border-bottom:1px solid #fff;}
/* ===== Header ===== */
header{display: flex;align-items: flex-end;}
header div#intro{margin:50px;width:400px;order:2;}
header div#header-img{width:100%;height:100vh;order:1;}
header h2{color:#A6B4BE;font-family: 'Assistant', sans-serif;font-weight: 200;margin:10px 0;}
/* ===== Main ===== */
main{margin:0px 50px 50px 50px;}
main section{display: grid;margin-bottom:30px;grid-template-rows:100px auto auto;grid-template-columns:1fr 1fr;
grid-template-areas:"section1-title section1-title" "section1-first-article section1-second-article" "section1-first-article section1-third-article";
grid-column-gap: 50px;grid-row-gap: 20px;align-items:center;}
main h3.sub-section-title{font-size:36px;line-height: 36px;color:#A6B4BE;width:100%;grid-area:section1-title;}
main a.the-newspaper{border-bottom: none;grid-area: first-article-span;font-family: 'Assistant', sans-serif;font-size: 14px;color: #A6B4BE;border-left: 2px solid #d1d1d1;padding-left: 10px;margin-top: 13px;display: block;height: 20px;line-height: 20px;}
main a.the-newspaper:hover{color:#5F89FF;border-left:2px solid #5F89FF;}
main div.section-first{grid-area:section1-first-article;display: grid;grid-template-rows:30px 1fr 1fr;grid-template-columns: 1fr 1fr;
grid-template-areas:"first-article-img first-article-span" "first-article-img first-article-h2" "first-article-img first-article-p";align-items: center;
grid-column-gap:20px;}
main div.section-first div.first-article-img{grid-area:first-article-img;margin-right:20px;width:100%;height:500px;}
main h2.article-titles{grid-area:first-article-h2;}
main h2.article-titles a{color:#222;border:none;transition:ease-in-out .3s;}
main h2.article-titles a:hover{color:#5F89FF;}
main div.section-first p{grid-area:first-article-p;align-self: end;}
main div.secondary-img{width:100%;height:120px;}
main div.secondary-content h2.article-titles{margin-top:10px;}
main div.section-second{grid-area:section1-second-article;}
main div.section-third{grid-area:section1-third-article;}
/* ===== Footer ===== */
footer{clear:both;display:flex;width:100%;height:80px;background:#222;align-items: center;}
footer div#copy{width:80%;margin-left:50px;font-size:12px;font-family: 'Assistant', sans-serif;text-transform: uppercase;}
footer div#copy a{border:none;color:#657783;}
footer div#copy a:hover{color:white;}
footer div#copy span{margin:0 5px;}
footer div#logo{width:20%;text-align: center;color:white;font-style: italic;font-size:22px;}
/* ===== Responsive ===== */
@media only screen and (max-width: 650px){
	header{flex-wrap: wrap;}
	header div#header-img{height:40vh;}
	main section{grid-template-areas:"section1-title section1-title" "section1-first-article section1-first-article" "section1-second-article section1-second-article" "section1-third-article section1-third-article";}
	main div.section-first{display: block;}
	main div.section-first div.first-article-img{height:250px;margin-bottom: 20px;}
	main div.section-first p{margin-top: 15px;}
}
@media only screen and (max-width: 800px) { 
	header div#intro{width:600px;}
	main section{grid-template-areas:"section1-title section1-title" "section1-first-article section1-first-article" "section1-second-article section1-second-article" "section1-third-article section1-third-article";}
	header div#header-img{}
}